
// @media screen and (max-width: 768px) {
//     .nav1 {
//     //    max-width: 600px;
//     //    margin: auto;
//     //    padding-top: 15rem;
    
//         // .text {
//         //     padding-left: 5rem;
//         // }
//     }
// }

.topNavbar {
  .logo {
    @media screen and (max-width: 768px) {
      width: 100px;
    }

    @media screen and (max-width: 488px) {
      width: 90px;
    }
  }

  .nav1 {
    h1 {
      @media screen and (max-width: 768px) {
        font-size: 1.4rem;
      }
  
      @media screen and (max-width: 488px) {
          font-size: 1rem;
      }
    }
  }
}
