$background-color: green;
$height: 250px;
$width: 250px;

.navbar {
    background: $background-color;
    height: $height;
    width: $width;

    h1 {
        color: white;
    }

    p {
        color: pink;
    }
}
