
@media screen and (max-width: 768px) {
    .nav1 {
       max-width: 600px;
       margin: auto;
       padding-top: 15rem;
    
        // .text {
        //     padding-left: 5rem;
        // }
    }
}
